<header>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link"  href='@Url.Action("Bienvenida", "Dennys")'>Inicio</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href='@Url.Action("Ayuda", "Dennys")'>Ayuda</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Funcionalidades
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href= '@Url.Action("ObtenerReservas", "Dennys", new {idCliente = @BD.user.IdCliente})'>Tu Reserva</a></li>
            <li><a class="dropdown-item" href='@Url.Action("AgregarRestaurante", "Dennys")'>Agregar Restaurante</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href='@Url.Action("Index", "Home")'>Cerrar sesion</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href='@Url.Action("Contactanos", "Dennys")' >Contactanos</a>
        </li>
      </ul>
      
    </div>
  </div>
</nav>
</header>
<main class="cuerpo">
    <div class="primeras3">
        @foreach (Restaurante item in ViewBag.ListaRestaurantes)
        {
            <div class="padre2">
                    <img class="imgan" src="@item.Imagen" alt="">
                <div class="div-p-nombre">
                    <p>@item.Nombre</p>
                </div>
                <div class="div-p-Direccion">
                    <p>@item.Direccion</p>
                </div>

                <div class="btns">
                    <button type="button" class="bot1" data-bs-toggle="modal" data-bs-target="#ModalValorar" onclick="cargarIdRestaurante(@item.IdRestaurante)">Valorar</button>
                    
                    <div class="btn3">
                        <button type="button" class="bot2" data-bs-toggle="modal" data-bs-target="#ModalReserva" onclick="cargarIdRestaurante(@item.IdRestaurante)">Reservar</button>
                    </div>

                    <button type="button" class="bot1" data-bs-toggle="modal" data-bs-target="#ModalVerMas" onclick="mostrarDetallesRestaurante(@item.IdRestaurante)">Ver Mas</button>

                  <a href='@Url.Action("ObtenerReseñas", "Dennys", new{idResto = @item.IdRestaurante})' class="bot1">Ver Reseñas</a>

                  <a href='@Url.Action("EliminarRestaurante", "Dennys", new {idResto = @item.IdRestaurante})' class="bot1">Eliminar Restaurante</a>

                    
                </div>
            </div>
        }
    </div>
</main>

  <!--Reserva-->
<div class="modal" tabindex="-1" id="ModalReserva" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Reserva de Mesa</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
          
            <button type="button" class="btn btn-primary" onclick="Calendario()">Seleccionar Fecha</button>
            <button type="button" class="btn btn-primary" onclick="SeleccionarCantidadPersonas()">Seleccionar Personas</button>
            <button type="button" class="btn btn-primary" onclick="SeleccionarHorario()">Seleccionar Horario</button>

           
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button class="btn btn-primary" onclick="alertaReserva(), GuardarReserva(@BD.user.IdCliente)">Guardar Reserva</button>
        </div>
      </div>
    </div>
</div>

  <!--Valorar-->

 

  <div class="modal" tabindex="-1" id="ModalValorar" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="centrar-titlulo">
                    <h5 class="modal-title">@BD.user.Nombre</h5>
                </div>
            </div>
           
                <div class="modal-body">
                    <input type="hidden" name="idCliente" value="@BD.user.IdCliente">
                    <input type="hidden" name="idRestaurante" id="IdRestaurante">
                    <div id="cuadroTexto">
                    <p><textarea name="Comentario" placeholder="Comparte tu opinión!" id="comentario" maxlength="500"  oninput="validarLongitud(this)"></textarea></p>
                    <p id="contador">500/500</p>
                        </div>
                    <div class="contenedor-esterllas">
                        <div class="rating">
                            <input value="5" name="Valoracion" id="star5" type="radio">
                            <label title="text" for="star5"></label>
                            <input value="4" name="Valoracion" id="star4" type="radio">
                            <label title="text" for="star4"></label>
                            <input value="3" name="Valoracion" id="star3" type="radio" checked="">
                            <label title="text" for="star3"></label>
                            <input value="2" name="Valoracion" id="star2" type="radio">
                            <label title="text" for="star2"></label>
                            <input value="1" name="Valoracion" id="star1" type="radio">
                            <label title="text" for="star1"></label>
                        </div>     
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
                    <button class="btn btn-primary" data-bs-dismiss="modal" onclick=" alertaReseña() , GuardarReseña(@BD.user.IdCliente)">Publicar</button>
                </div>
            
        </div>
    </div>
</div>


  <!--Ver mas-->

  <!-- Modal Ver Mas -->
<div class="modal" tabindex="-1" id="ModalVerMas" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitulo"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="" alt="" id="modalImagen" class="img-fluid mb-3">
                <p id="modalDescripcion"></p>
                <p><strong>Dirección:</strong> <span id="modalDireccion"></span></p>
                <p><strong>Horario de Apertura:</strong> <span id="modalApertura"></span></p>
                <p><strong>Horario de Clausura:</strong> <span id="modalClausura"></span></p>
                <p><strong>Fecha de Fundación:</strong> <span id="modalFechaFundacion"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                
            </div>
        </div>
    </div>
</div>
  <footer class="pie-pagina">


  <div class="grupo-1"> 
    <div class="box">
      <figure>
        <a href="#">
          <img src="../img/logo-dennys.png"  >
        </a>
      </figure>
    </div>
    <div class="box">
      <h2>SOBRE NOSOTROS</h2>
      <p>Empresa líder en tecnología, venta y soporte informático en Argentina.</p>
      <p>Tecnología y servicios informáticos de calidad en Argentina.</p>
    </div>
    <div class="box">
      <h2>SIGUENOS</h2>
      <div class="red-social">
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-whatsapp"></a>
      </div>
    </div>
  </div>

  <div class="grupo-2">
    <small>&copy; 2023 <b>Dennys </b>Todos los derechos reservados</small>
  </div>


</footer>