 <header>
      <nav>
        <div class="navbar navegador ">
          <a  href='@Url.Action("Bienvenida", "Dennys")'><img src="../IMG/logo-dennys.png" alt="Logo"></a>
          <div class="div-navegador">

          <div class="navbar-item">
            <a class="linkk"  href='@Url.Action("Bienvenida", "Dennys")'>Inicio</a>
          </div>

          <div class="navbar-item">
            <a class="linkk" href='@Url.Action("Ayuda", "Dennys")'>Ayuda</a>
          </div>

          <div class="navbar-item">
             <li class="nav-item dropdown">
                <a class="linkk dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Funcionalidades
                </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href= '@Url.Action("ObtenerReservas", "Dennys", new {idCliente = @BD.user.IdCliente})'>Tu Reserva</a></li>
                    <li><a class="dropdown-item" href='@Url.Action("AgregarRestaurante", "Dennys")'>Agregar Restaurante</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item sa" href='@Url.Action("Index", "Home")'>Cerrar sesion</a></li>
                  </ul>
            </li>

          </div>
         
           <div class="navbar-item">
            <a class="linkk " aria-disabled="true" href= '@Url.Action("Contactanos", "Dennys")'>Contactanos</a>
          </div>

           
          </div>
        </div>
        
      </nav>
    </header>

<main class="main-reseñas">
    <div class="padre-reseñas">
        @foreach (var item in ViewBag.ListaReseñas)
        {
            <div class="card-reseña">
                <div class="dentro-reseñas">
                    <p>@item.Comentario</p>
                    @for (int i = 1; i <= item.Valoracion; i++)
                    {
                        <img class="img-reseña" src="/IMG/estrella.PNG">
                    }
                </div>
            </div>
        }
    </div>
</main>

<footer class="pie-pagina">


  <div class="grupo-1"> 
    <div class="box">
      <figure>
        <a href='@Url.Action("Bienvenida", "Dennys")'>
          <img src="../img/logo-dennys.png" alt="logo" >
        </a>
      </figure>
    </div>
    <div class="box">
      <h2>SOBRE NOSOTROS</h2>
      <p>Empresa líder en tecnología, venta y soporte informático en Argentina.</p>
      <p>Tecnología y servicios informáticos de calidad en Argentina.</p>
    </div>
    <div class="box">
      <h2>SIGUENOS</h2>
      <div class="red-social">
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-whatsapp"></a>
      </div>
    </div>
  </div>

  <div class="grupo-2">
    <small>&copy; 2023 <b>Dennys </b>Todos los derechos reservados</small>
  </div>


</footer>